.circle {
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

 .c1 {
  width: 300px;
  height: 300px;
  background: #ff0000; 
}

.c2 {
  width: 250px;
  height: 250px;
  background: #ffa500; 
}

.c3 {
  width: 200px;
  height: 200px;
  background: #ffff00; 
}

.c4 {
  width: 150px;
  height: 150px;
  background: green; 
}

.c5 {
  width: 100px;
  height: 100px;
  background:#0000ff; 
}

.c6 {
  width: 50px;
  height: 50px;
  background: #800080; 
}
 