/*  your css code here. If applicable */
.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.c1 { width:300px; height:300px; background:red; }
.c2 { width:260px; height:260px; background:orange; top:20px; left:20px; }
.c3 { width:220px; height:220px; background:yellow; top:40px; left:40px; }
.c4 { width:180px; height:180px; background:green; top:60px; left:60px; }
.c5 { width:140px; height:140px; background:blue; top:80px; left:80px; }
.c6 { width:100px; height:100px; background:purple; top:100px; left:100px; }