
    body {
      margin: 0;
      padding: 0;
    }

    #outer {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: rgb(255, 165, 0); /* orange */
      border: 25px solid rgb(255, 0, 0);  /* red */
    }

    #middle {
      width: 200px;
      height: 200px;
      background-color: rgb(0, 128, 0);    /* green */
      border: 25px solid rgb(255, 255, 0); /* yellow */
      border-radius: 50%;
      margin: 25px;
    }

    #inner {
      width: 100px;
      height: 100px;
      background-color: rgb(128, 0, 128); /* purple */
      border-radius: 50%;
      margin: 25px;
      border: 25px solid rgb(0, 0, 255);  /* blue */
    }
